<div #keyBox1 class="keyBox">
  <span>{{key?.labels?.[0]}}</span>
  <span>{{key?.labels?.[1]}}</span>
  <span>{{key?.labels?.[2]}}</span>
  <span>{{key?.labels?.[3]}}</span>
  <span>{{key?.labels?.[4]}}</span>
  <span>{{key?.labels?.[5]}}</span>
  <span>{{key?.labels?.[6]}}</span>
  <span>{{key?.labels?.[7]}}</span>
  <span>{{key?.labels?.[8]}}</span>
  <span>{{key?.labels?.[9]}}</span>
  <span>{{key?.labels?.[10]}}</span>
  <span>{{key?.labels?.[11]}}</span>
</div>
<!--第二个按键计算有问题-->
<!-- <div #keyBox2 class="keyBox">

</div> -->