<div #keyBox1>
  <span
    [ngStyle]="{ color: getFontColor(0), 'font-size': getFontSize(0) }"
    >{{key?.labels?.[0]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(1), 'font-size': getFontSize(1) }"
    >{{key?.labels?.[1]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(2), 'font-size': getFontSize(2) }"
    >{{key?.labels?.[2]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(3), 'font-size': getFontSize(3) }"
    >{{key?.labels?.[3]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(4), 'font-size': getFontSize(4) }"
    >{{key?.labels?.[4]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(5), 'font-size': getFontSize(5) }"
    >{{key?.labels?.[5]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(6), 'font-size': getFontSize(6) }"
    >{{key?.labels?.[6]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(7), 'font-size': getFontSize(7) }"
    >{{key?.labels?.[7]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(8), 'font-size': getFontSize(8) }"
    >{{key?.labels?.[8]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(9), 'font-size': getFontSize(9) }"
    >{{key?.labels?.[9]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(10), 'font-size': getFontSize(10) }"
    >{{key?.labels?.[10]}}</span
  >
  <span
    [ngStyle]="{ color: getFontColor(11), 'font-size': getFontSize(11) }"
    >{{key?.labels?.[11]}}</span
  >
</div>
